config/.zsh/history/backup/*/*/*.db filter=lfs diff=lfs merge=lfs -text
config/.config/atok/dic/*.dic filter=lfs diff=lfs merge=lfs -text
config/.config/atok/dic/*.DIC filter=lfs diff=lfs merge=lfs -text
